html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Annie Use Your Telescope";
  color: white;
}
body{
  background: url(../images/assignment_bg_3.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0;

}

h1{margin:0;}

#title-container,#results-container{
	position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 3;
  text-align: center;
  box-shadow: inset 0 0 0 5000px rgba(0,0,0,0.3);
}
#results-container{
  display: none;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10vh;
}
#graph-container{
  text-align: center;
  width:80%;
}
.graph-titles{
  padding-bottom: 1vh;
}
#title2-container{
  height:100%;
  width:100%;
  text-align: center;
  box-shadow: inset 0 0 0 5000px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  flex-flow: column;

}
#steps-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 5em;
}

/*#button-container{
  width:100%;
  height: 60%;
  display: flex;
  justify-content: center;
  padding-bottom: 5em;
}*/

.col{
  border:1px solid white;
  height: 10em;
}
.row{
  /*width: 100%;*/
  padding-bottom: 5em;
}

img{
  width: 100%;
  padding-bottom: 1em;
}
.room-title{
  padding-bottom: 1em;
  font-size: 3em;
}
label{
  font-size: 1.5em;
}
.form-control{
  background-color: rgba(0,100,0,1);
  color: white;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);*/

}
.form-group{
  background-color: rgba(0,100,0,0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
#title-container{
  opacity:0;
  transition: 0.7s ease-in-out;
}
#results-title{
  text-align: center;
  color:white;
  font-size: 70px;
}
#subtitle{
  color:white;
  font-size: 20px;
  padding-bottom: 3em;
}
#submit{
  border-radius: 5px;
  font-family: "Annie Use Your Telescope", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 15%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 5em;
}
#test{
  height: 100%;
}
#myChart,#myChart2{
  /* https://mdbootstrap.com/javascript/charts/ for help on setting size etc. */
  border: 1px solid white;
    box-shadow: inset 0 0 0 5000px rgba(0,0,0,0.3);
  display: none;
  /*margin-left: -50vw;*/
}