/* CSS for login.html page styling*/

html,body,#page-container{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Annie Use Your Telescope";

}
#banner-container{
  width: 100%;
  height: 100%;
  background: url(../images/earthlab_classroom.jpg) no-repeat center center;
  background-size: cover;
  /*border: 1px solid black;*/
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.3);

}
#title-container,a{
  text-align: center;
  opacity: 0;
  transition: 0.9s ease-in-out;

  /*border: 2px solid white;*/
}
#forms input{
  margin-top: 10px;
  width: 20em;
  border-radius: 10px;
}
#title{
  color: white;
  letter-spacing: 4px;
  font-size: 70px;
  text-align: center;
}

/* CSS for login form*/

a{
  border-radius: 5px;
  font-family: "Annie Use Your Telescope", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  color: #FFFFFF;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 20px 50px 20px 50px;
    -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;

}
a:hover{
  text-decoration: none;
  color:white;

}
a:active{
  color: orange;
}
a:hover, a:active,a:focus {
  background: #43A047;
}


